<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="Server Name" patternSyntax="Wildcard">
                    <match serverVariable="RESPONSE_Server" pattern="*" />
                    <action type="Rewrite" value="Tavern_House" />
                </rule>
            </outboundRules>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="&quot;(^|/)\.&quot;" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <security>
            <authorization>
                <add accessType="Allow" users="?" />
                <add accessType="Allow" users="xversial" />
            </authorization>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
